
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  text-align: center;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

/* 
End
*/
a:hover {
  text-decoration: none;
}
.mb-08 {
  margin-bottom: 0.8em;
  font-style: none !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.btn-row {
  display: flex;
  flex-direction: row;
  p {
    margin-right: 1em;
  }
}
div.pre_post {
  h3 {
    // margin: 0;
    padding: 0;
  }
  // margin-bottom: 0.8em;
  // text-align: middle;
}
div.row {
  p {
    margin-bottom: 0;
    margin-left: 1em;

  }
  display: flex;
  align-items: center;
  margin-left: 0.1em;
}
.split {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
